[".oh-my-bash"]
    type = "archive"
    url = "https://github.com/ohmybash/oh-my-bash/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ if eq .installtype "public" -}}
[".fzf"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.git"
    refreshPeriod = "168h"
    [".fzf".clone]
        args = ["--depth", "1"]

{{      if .use_nvim -}}
[".local"]
    type = "archive"
    url = {{ gitHubLatestReleaseAssetURL "neovim/neovim" (printf "nvim-%s-x86_64.tar.gz" .chezmoi.os) | quote }}
    stripComponents = 1
    refreshPeriod = "168h"

[".local/bin/tree-sitter"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "tree-sitter/tree-sitter" (printf "tree-sitter-%s-x64.gz" .chezmoi.os) | quote }}
    path = {{ printf "tree-sitter-%s-x64" .chezmoi.os | quote }}
    refreshPeriod = "168h"

{{      end -}}

{{ end -}}
