#!/bin/sh
{{ if eq .installtype "private" -}} 

{{ if eq .osid "linux-fedora" -}}
packages={{ join " " .packages.linux.dnf | quote }}
installed=$(dnf repoquery --installed $packages 2>/dev/null | sed 's/-[0-9].*//')
missing=$(comm -23 <(echo $packages | tr ' ' '\n' | sort) <(echo "$installed" | sort -u))
[ -n "$missing" ] && sudo dnf install -y $missing || echo "All packages installed"
{{ end -}}

{{ else if eq .installtype "public" -}}

install() {
    if [[ ! -e "$1" ]]; then
        if command -v wget >/dev/null ; then
            bash -c "$(wget $2 -O -)" ${@:3}
        elif command -v curl >/dev/null ; then
            bash -c "$(curl -fsSL $2)" ${@:3}
        else
            echo "Failed to download with curl or wget"
            exit 1
        fi
    else
        echo "Found $1, skipping."
    fi
}

install "$HOME/.local/bin/zoxide" https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh 

~/.fzf/install --key-bindings --completion --no-update-rc

{{ end -}}
