#!/bin/sh

install() {
    local target="$1"
    local url="$2"
    shift 2

    if [[ -e "$target" ]]; then
        echo "Found $target, skipping."
        return 0
    fi

    if command -v curl >/dev/null 2>&1; then
        curl -fsSL "$url" | bash -s -- "$@"
    elif command -v wget >/dev/null 2>&1; then
        wget -qO- "$url" | bash -s -- "$@"
    else
        echo "Failed to download with curl or wget"
        exit 1
    fi
}


{{ if eq .installtype "private" -}} 

{{ if eq .osid "linux-fedora" -}}
packages={{ join " " .packages.linux.dnf | quote }}
installed=$(dnf repoquery --installed $packages 2>/dev/null | sed 's/-[0-9].*//')
missing=$(comm -23 <(echo $packages | tr ' ' '\n' | sort) <(echo "$installed" | sort -u))
[ -n "$missing" ] && sudo dnf install -y $missing || echo "All packages installed"
{{ end -}}

{{ else if eq .installtype "public" -}}

install "$HOME/.local/bin/zoxide" https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh 

~/.fzf/install --key-bindings --completion --no-update-rc

{{ end -}}

{{ if .use_opencode -}}
install opencode https://opencode.ai/install --no-modify-path
{{ end -}}
